<template>
    <Page actionBarHidden="false">
      <!--
      <StackLayout>
        <Button text="CV Image Sample" @tap="navigateToCVImageSample"/>
        <Button text="CV Image Sample Simple Image Layout" @tap="navigateToCVImageSampleSimpleLayout"/>
      </StackLayout>
      -->
      <!--
      <BottomSheet v-model="stepIndex" :steps="[56, 156, 456]" scrollViewId="scrollView" backdropColor="#88000000">
        <StackLayout backgroundColor="red">
          <Label text="This is the main content" />
        </StackLayout>
        <gridlayout ~bottomSheet backgroundColor="yellow" rows="56, 156, 456">
          <stacklayout row="0" orientation="horizontal">
            <button text="My Profile" class="button" @tap="stepIndex = 0" />
            <button text="Settings" class="button" @tap="stepIndex = 1" />
            <button text="Rate Us" class="button" @tap="stepIndex = 2" />
            <button text="Support" class="button" />
            <button text="Contact" class="button" />
          </stacklayout>
          <stacklayout row="1" orientation="horizontal">
            <button text="My Profile" class="button" />
            <button text="Settings" class="button" />
            <button text="Rate Us" class="button" />
            <button text="Support" class="button" />
            <button text="Contact" class="button" />
          </stacklayout>
          <ListView :items="items" row="2" id="scrollView" colWidth="50%" rowHeight="100">
            <v-template>
              <gridlayout rows="*, auto" :backgroundColor="item.color" class="item">
                <stacklayout row="1">
                  <label row="1" :text="item.name" class="title" />
                  <label row="1" :text="item.color" class="subtitle" />
                </stacklayout>
              </gridlayout>
            </v-template>
          </ListView>
        </gridlayout>
      </BottomSheet>
      -->
      <StackLayout height="100%" width="100%">
        <HTMLLabel
            html="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer"
            maxLines="3"
            lineBreak="end"
            @loaded="loaded"
        />
        <!---
        <CollectionView :items="items">
          <v-template>
            <GridLayout backgroundColor="grey" class="margin-20" width="100%">
              <Label :text="item.name"/>
            </GridLayout>
          </v-template>
        </CollectionView>
        -->
      </StackLayout>
    </Page>
</template>

<script>

  import ActualOutput from "~/components/ActualOutput";
  import DesiredOutput from "~/components/DesiredOutput";
  import Simplified from "~/components/Simplified";
  import Simple2 from "~/components/Simple2";
  import Sample3 from "~/components/Sample3";
  import Sample4 from "~/components/Sample4";
  export default {
    components: {Sample4, Sample3, Simple2, Simplified, ActualOutput},
    data() {
      const items = [
        { index: 0, name: 'TURQUOISE', color: '#1abc9c' },
        { index: 1, name: 'EMERALD', color: '#2ecc71' },
        { index: 2, name: 'PETER RIVER', color: '#3498db' },
        { index: 3, name: 'AMETHYST', color: '#9b59b6' },
        { index: 4, name: 'WET ASPHALT', color: '#34495e' },
        { index: 5, name: 'GREEN SEA', color: '#16a085' },
        { index: 6, name: 'NEPHRITIS', color: '#27ae60' },
        { index: 7, name: 'BELIZE HOLE', color: '#2980b9' },
        { index: 8, name: 'WISTERIA', color: '#8e44ad' },
        { index: 9, name: 'MIDNIGHT BLUE', color: '#2c3e50' },
        { index: 10, name: 'SUN FLOWER', color: '#f1c40f' },
        { index: 11, name: 'CARROT', color: '#e67e22' },
        { index: 12, name: 'ALIZARIN', color: '#e74c3c' },
        { index: 13, name: 'CLOUDS', color: '#ecf0f1' },
        { index: 14, name: 'CONCRETE', color: '#95a5a6' },
        { index: 15, name: 'ORANGE', color: '#f39c12' },
        { index: 16, name: 'PUMPKIN', color: '#d35400' },
        { index: 17, name: 'POMEGRANATE', color: '#c0392b' },
        { index: 18, name: 'SILVER', color: '#bdc3c7' },
        { index: 19, name: 'ASBESTOS', color: '#7f8c8d' },
      ];
      return {
        items,
        stepIndex:0
      };
    },
    methods: {
      loaded(args) {
        // args.object.nativeViewProtected.textContainer.maximumNumberOfLines = 3
      },
      navigateToDesired() {
        this.$navigateTo(DesiredOutput)
      },
      navigateToActual() {
        this.$navigateTo(ActualOutput)
      },
      navigateToSimplified() {
        this.$navigateTo(Simplified)
      },
      navigateToCVImageSample() {
        this.$navigateTo(Sample3)
      },
      navigateToCVImageSampleSimpleLayout() {
        this.$navigateTo(Sample4)
      }
    },
    computed: {
      message() {
        return "Blank {N}-Vue app";
      }
    }
  };
</script>

<style scoped lang="scss">
  .margin-20 {
    padding-left: 20;
    padding-right: 20;
  }
</style>
