<template>
  <Page>
    <RootLayout rows="*, auto" class="chat">
      <CollectionView row="0" rowSpan="3" :items="items" class="chat-wrapper" :itemTemplateSelector="templateSelector">
        <v-template name="sent">
          <TextOnly2 :item="item" :horizontal-alignment="'right'" class="chat-msg sent"/>
        </v-template>
        <v-template name="sent-image">
          <ImageOnly2 :item="item" class="chat-msg sent"/>
        </v-template>
        <v-template name="sent-image-text">
          <ImageText2 :item="item" class="chat-msg sent"/>
        </v-template>

        <v-template name="sent-last">
          <TextOnly2 :item="item" :horizontal-alignment="'right'" class="chat-msg sent last"/>
        </v-template>
        <v-template name="sent-image-last">
          <ImageOnly2 :item="item" class="chat-msg sent last"/>
        </v-template>
        <v-template name="sent-image-text-last">
          <ImageText2 :item="item" class="chat-msg sent last"/>
        </v-template>

        <v-template name="received">
          <TextOnly2 :item="item" class="chat-msg received" @openMessageActions="openMessageActions(item.id, ...arguments)"/>
        </v-template>
        <v-template name="received-image">
          <ImageOnly2 :item="item" class="chat-msg received" @openMessageActions="openMessageActions(item.id, ...arguments)"/>
        </v-template>
        <v-template name="received-image-text">
          <ImageText2 :item="item" class="chat-msg received" @openMessageActions="openMessageActions(item.id, ...arguments)"/>
        </v-template>

        <v-template name="received-last">
          <TextOnly2 :item="item" class="chat-msg received last" @openMessageActions="openMessageActions(item.id, ...arguments)"/>
        </v-template>
        <v-template name="received-image-last">
          <ImageOnly2 :item="item" class="chat-msg received last" @openMessageActions="openMessageActions(item.id, ...arguments)"/>
        </v-template>
        <v-template name="received-image-text-last">
          <ImageText2 :item="item" class="chat-msg received last" @openMessageActions="openMessageActions(item.id, ...arguments)"/>
        </v-template>
      </CollectionView>
      <GridLayout columns="40, *, 40" row="0" rowSpan="3" verticalAlignment="bottom" rows="2, auto" class="bottom" ref="bottom" height="50">
        <Label class="spacer" row="0" col="0" colSpan="3" backgroundColor="#c8c8c8"/>
        <TextView textWrap="true"
                  height="auto"
                  row="1"
                  class="textfield-rounded"
                  col="1"
                  v-model="msgText"
        />
      </GridLayout>
    </RootLayout>
  </Page>
</template>

<script>
import {ObservableArray} from "@nativescript/core/data/observable-array";
import TextOnly2 from "~/components/Image/TextOnly2";
import ImageOnly2 from "~/components/Image/ImageOnly2";
import ImageText2 from "~/components/Image/ImageText2";
export default {
  name: "Sample4",
  components: {ImageText2, ImageOnly2, TextOnly2},
  data () {
    return {
      isGroupChat: false,
      msgText: null,
      items: new ObservableArray([
        {id: 1, from: 738, me: true, text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt'},
        {id: 2, from: 738, me: true, text: 'Lorem ipsum dolor sit amet'},
        {id: 3, from: 8, me: false, text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr',  img:'https://fujifilm-x.com/wp-content/uploads/2021/01/gfx100s_sample_04_thum-1.jpg'},
        {id: 4, from: 738, me: true, text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt'},
        {id: 5, from: 78, me: false, text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt'},
        {id: 6, from: 738, me: true, text: 'Lorem ipsum dolor sit amet'},
        {id: 7, from: 10, me: false, text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr'},
        {id: 8, from: 10, me: false, text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt'},
        {id: 9, from: 38, me: false, text: 'Lorem ipsum dolor sit amet'},
        {id: 10, from: 738, me: true, text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr'},
        {id: 11, from: 8, me: false, text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt'},
        {id: 12, from: 738, me: true, text: 'Lorem ipsum dolor sit amet'},
        {id: 13, from: 10, me: false, text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr'},
        {id: 14, from: 738, me: true, text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt'}
      ]),
    }
  },
  methods: {
    templateSelector(item, index, items) {
      let name = ''
      if(item.me === true) {
        name = name+'sent'
      } else {
        name = name+'received'
      }
      if(item.img) {
        name = name+'-image'
        if(item.text && item.text.length > 0) {
          name = name+'-text'
        }
      }
      if(items.getItem(index+1) && (item.me !== items.getItem(index+1).me ||  item.from !== items.getItem(index+1).from)) {
        name = name+'-last'
      }
      if(this.isGroupChat) {
        name = name + '-group'
      }
      return name
    },
    openMessageActions() {
      console.log('do sth')
    }
  }
}
</script>

<style>
.chat-wrapper {
  padding: 3 15 80 15;
}
.chat-msg {
  margin-top: 1;
  margin-bottom: 1;
}
.chat-msg.sent {
  margin-left: 50;
}
.chat-msg.received {
  margin-right: 50;
}
.msg-content {
  border-radius: 12;
}
.chat-msg .img {
  border-radius: 10;
  margin: 5;
}
.msg-content HTMLLabel {
  margin: 10 15 0 15;
}
.chat-msg.sent .msg-content {
  background-color: darkseagreen;
}
.chat-msg.received .msg-content {
  background-color: darkgrey;
}
.chat-msg.received.last, .chat-msg.sent.last {
  margin-bottom: 15;
}
.chat-msg.sent.last .msg-content {
  border-radius: 12 12 0 12;
}
.chat-msg.received.last .msg-content {
  border-radius: 12 12 12 0;
}
.chat-user-select {
  background-color: white;
  vertical-align: bottom;
}
.textfield-rounded {
  background-color: white;
  border-radius: 24;
  padding-left: 10;
  padding-right: 10;
  padding-bottom: 6;
  font-size: 15;
  min-height: auto;
  margin-left: 0;
  margin-right: 0;
  border-width: 1;
  border-color: #e1e1e1;
}
.textfield-rounded:focus {
  border-color: #e1e1e1;
}
.msg-content .timestamp {
  vertical-alignment: bottom;
  horizontal-alignment: right;
  font-size: 12;
  font-family: 'Heebo', 'Heebo-Regular';
  font-weight: 400;
  margin: 5 15 8 0;
}
.msg-content .msg-header {
  horizontal-alignment: left;
  font-size: 14;
  font-family: 'Heebo', 'Heebo-Medium';
  font-weight: 500;
}
.chat .attach {
  color: #333333;
  horizontal-alignment: center;
}
.chat .send {
  background-color: #333333;
  color: white;
  border-radius: 50%;
  horizontal-alignment: center;
  height: 30;
  width: 30;
  padding-left: 2;
  text-align: center;
}
.chat .send, .chat .attach {
  vertical-alignment: bottom;
  margin-bottom: 8;
}
.chat .bottom {
  background-color: #fdfdfd;
  border-top-width: 3;
  border-top-color: white;
}
</style>
