<template>
  <Page>
    <GridLayout rows="*, auto" class="chat">
      <CollectionView row="0" rowSpan="3" :items="items" class="chat-wrapper" :itemTemplateSelector="templateSelector">
        <v-template name="sent">
          <GridLayout class="chat-msg sent" columns="*" rows="auto">
              <HTMLLabel row="0" col="0" textWrap="true" :html="item.text" backgroundColor="darkseagreen"/>
          </GridLayout>
        </v-template>
        <v-template name="sent-last">
          <GridLayout class="chat-msg sent last" columns="*" rows="auto">
            <HTMLLabel row="0" col="0" textWrap="true" :html="item.text" backgroundColor="darkseagreen"/>
          </GridLayout>
        </v-template>
        <v-template name="received">
          <GridLayout class="chat-msg received" columns="*" rows="auto">
            <HTMLLabel row="0" col="0" textWrap="true" :html="item.text" backgroundColor="darkgrey"/>
          </GridLayout>
        </v-template>
        <v-template name="received-last">
          <GridLayout class="chat-msg received last" columns="*" rows="auto">
            <HTMLLabel row="0" col="0" textWrap="true" :html="item.text" backgroundColor="darkgrey"/>
          </GridLayout>
        </v-template>
      </CollectionView>
      <GridLayout columns="40, *, 40" row="0" rowSpan="3" verticalAlignment="bottom" rows="2, auto" class="bottom" ref="bottom" height="50">
        <Label class="spacer" row="0" col="0" colSpan="3" backgroundColor="#c8c8c8"/>
        <TextView textWrap="true"
                  height="auto"
                  row="1"
                  class="textfield-rounded"
                  col="1"
                  v-model="msgText"
        />
      </GridLayout>
    </GridLayout>
  </Page>
</template>

<script>
import {ObservableArray} from "@nativescript/core/data/observable-array";
export default {
  name: "Simplified",
  data () {
    return {
      isGroupChat: false,
      msgText: null,
      items: new ObservableArray([
        {id: 1, from: 738, me: true, text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt'},
        {id: 2, from: 738, me: true, text: 'Lorem ipsum dolor sit amet'},
        {id: 3, from: 8, me: false, text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr'},
        {id: 4, from: 738, me: true, text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt'},
        {id: 5, from: 78, me: false, text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt'},
        {id: 6, from: 738, me: true, text: 'Lorem ipsum dolor sit amet'},
        {id: 7, from: 10, me: false, text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr'},
        {id: 8, from: 10, me: false, text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt'},
        {id: 9, from: 38, me: false, text: 'Lorem ipsum dolor sit amet'},
        {id: 10, from: 738, me: true, text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr'},
        {id: 11, from: 8, me: false, text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt'},
        {id: 12, from: 738, me: true, text: 'Lorem ipsum dolor sit amet'},
        {id: 13, from: 10, me: false, text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr'},
        {id: 14, from: 738, me: true, text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt'}
      ]),
    }
  },
  methods: {
    templateSelector(item, index, items) {
      let name = ''
      if(item.me === true) {
        name = name+'sent'
      } else {
        name = name+'received'
      }
      if(items.getItem(index+1) && (item.me !== items.getItem(index+1).me || item.from !== items.getItem(index+1).from)) {
        name = name+'-last'
      }
      if(this.isGroupChat) {
        name = name + '-group'
      }
      return name
    },
  }
}
</script>

<style scoped>
.chat-wrapper {
  padding: 3 15 70 15;
}
.chat-msg {
  margin-top: 1;
  margin-bottom: 1;
}
.chat-msg.sent {
  margin-left: 30;
}
.chat-msg.received {
  margin-right: 30;
}
.chat-msg.sent .msg-content {
  background-color: darkseagreen;
}
.msg-content {
  border-radius: 24;
  padding: 10 15;
}
.chat-msg.received .msg-content {
  background-color: darkgrey;
}
.chat-msg.received.last, .chat-msg.sent.last {
  margin-bottom: 15;
}
.chat-msg.sent.last .msg-content {
  border-radius: 24 24 0 24;
}
.chat-msg.received.last .msg-content {
  border-radius: 24 24 24 0;
}
.chat-user-select {
  background-color: white;
  vertical-align: bottom;
}
.textfield-rounded {
  background-color: white;
  border-radius: 24;
  padding-left: 10;
  padding-right: 10;
  padding-bottom: 6;
  font-size: 15;
  min-height: auto;
  margin-left: 0;
  margin-right: 0;
  border-width: 1;
  border-color: #e1e1e1;
}
.textfield-rounded:focus {
  border-color: #e1e1e1;
}
.msg-content .timestamp {
  vertical-alignment: bottom;
  horizontal-alignment: right;
  font-size: 12;
  font-family: 'Heebo', 'Heebo-Regular';
  font-weight: 400;
}
.msg-content .msg-header {
  horizontal-alignment: left;
  font-size: 14;
  font-family: 'Heebo', 'Heebo-Medium';
  font-weight: 500;
}
.chat .attach {
  /*color: #0040dc;*/
  color: #333333;
  horizontal-alignment: center;
}
.chat .send {
  background-color: #333333;
  color: white;
  border-radius: 50%;
  horizontal-alignment: center;
  height: 30;
  width: 30;
  padding-left: 2;
  text-align: center;
}
.chat .send, .chat .attach {
  vertical-alignment: bottom;
  margin-bottom: 8;
}
.chat .bottom {
  background-color: #fdfdfd;
  border-top-width: 3;
  border-top-color: white;
}
</style>
