<template>
  <GridLayout columns="*" rows="auto" @tap="openMessageActions" @layoutChanged="layoutChangeEvent">
    <GridLayout col="0" row="0" columns="*" rows="auto, auto, auto" class="msg-content">
      <Label text="Image +text" class="timestamp footer" row="2" col="0"/>
      <NSImg class="img" :src="item.img"/>
      <HTMLLabel row="1" col="0" textWrap="true" :html="item.text" backgroundColor="transparent"/>
    </GridLayout>
  </GridLayout>
</template>

<script>
export default {
  props: ['item', 'horizontalAlignment'],
  name: "ImageText",
  methods: {
    openMessageActions(args) {
      this.$emit('openMessageActions', args)
    },
    layoutChangeEvent(args) {
      console.log(args.object.getActualSize())
    }
  },
}
</script>

<style scoped>

</style>
