<template>
  <GridLayout col="0" row="0" columns="*" rows="auto, auto" class="msg-content"
              @longPress="openMessageActions">
    <Label text="08:42" class="timestamp footer" row="1" col="0"/>
    <NSImg class="img" row="0" col="1" :src="item.img" stretch="aspectFit" verticalAlignment="top">

    </NSImg>
  </GridLayout>
</template>

<script>
export default {
  props: ['item', 'horizontalAlignment'],
  name: "ImageOnly",
  methods: {
    openMessageActions(args) {
      this.$emit('openMessageActions', args)
    }
  }
}
</script>

<style scoped>

</style>
