<template>
  <GridLayout columns="*" rows="auto" @tap="openMessageActions" @layoutChanged="layoutChangeEvent">
      <NSImg row="0" col="0" class="img" :src="item.img"/>
  </GridLayout>
</template>

<script>
export default {
  props: ['item', 'horizontalAlignment'],
  name: "ImageText2",
  methods: {
    openMessageActions(args) {
      this.$emit('openMessageActions', args)
    },
    layoutChangeEvent(args) {
      console.log(args.object.getActualSize())
    }
  },
}
</script>

<style scoped>

</style>
