<template>
  <GridLayout columns="*" rows="auto" @tap="openMessageActions">
    <GridLayout col="0" row="0" columns="*" rows="auto, auto" class="msg-content" :horizontalAlignment="horizontalAlignment">
      <Label text="08:42" class="timestamp footer" row="1" col="0"/>
      <HTMLLabel row="0" col="0" textWrap="true" :html="item.text" backgroundColor="transparent"/>
    </GridLayout>
  </GridLayout>
</template>

<script>
export default {
  props: ['item', 'horizontalAlignment'],
  name: "TextOnly",
  methods: {
    openMessageActions(args) {
      this.$emit('openMessageActions', args)
    }
  }
}
</script>

<style scoped>

</style>
